

h3 {
font-size: 20px;
color: rgb(236, 231, 231);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 800px;
padding-left: 40px;


}

.container {
    color: ivory;
    background: linear-gradient(20deg, #306090 0%, #1D8CAF 100%);    
    border-radius: 30px 0px 5px;
    font-size: 19px;
    padding-top: 5px;
    padding-right: 10px;
}
img {
    width: 10; 
    height: 10; 

}


form {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

button, input {
    border-radius: 10px 10px 10px;
    
}

button {
    background: linear-gradient(20deg, #306090 0%, #1D8CAF 100%);
    border-radius: 20px;
}



.form-control{
    margin-right: 3px;
    text-align: center;
    align-content: center;
}
