

h3{
font-size: 19px;

color: grey;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 20px;
}

.temp {
    background-color: rgba(142, 178, 244, 0.564);
   
  border-radius: 30px 30px 30px 5px;
  font-size: 19px;

}